/public/
/resources/_gen/
/.hugo_build.lock
/node_modules/
/assets/node_modules/
/.idea/
/.vscode/
*.swp
*.swo
*.sublime-*
.DS_Store
Thumbs.db
/.cache/
.env
.env.local
.hugo_build.lock
debug.log
.netlify/